.loading-animation {
    /* margin-top: 15rem; */
    /* margin-bottom: 20rem; */
    scale: 0.4;
    animation: rollingPokeball 2s ease-in-out infinite;
    display: block;
    margin: 0 auto;
}
@keyframes rollingPokeball {
    0%,
    100% {
        transform: translateX(0) rotate(0deg);
    }
    5% {
        transform: translateX(-20px) rotate(-20deg);
    }
    23% {
        transform: translateX(20px) rotate(20deg);
    }
    40% {
        transform: translateX(0) rotate(0deg);
    }
    60% {
        transform: translateX(0) rotate(0deg);
    }
    78% {
        transform: translateX(-20px) rotate(-20deg);
    }
    95% {
        transform: translateX(20px) rotate(20deg);
    }
}
